:root {
  --light-gray: #cfcfcf;
  --gray: gray;
  --dark-gray: #2f2f2f;
  --darkest-gray: #1f1f1f;
  --border-radius: 6pt;
  --border-radius-small: 3pt;
  --border-radius-large: 10pt;
}

p, a, h1, h2, h3 {
  font-family: sans-serif;
}

html {
  width: 500pt;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30pt;
}

body {
  font-family: 'Ubuntu';
  text-align: center;
  padding-top: 20pt;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 300pt;
  padding: 10pt;
  border: 1pt solid var(--gray);
  border-radius: var(--border-radius);
}

.text {
  width: auto;
  text-align: left;
  border: none;
  padding: 5pt;
}

ul.link-list {
  padding: 0pt;
  border-radius: var(--border-radius);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 1pt solid var(--gray);
}

ul.link-list a {
  width: 100%;
  text-align: left;
}

ul.link-list li {
  padding: none;
  border-bottom: 1pt solid var(--gray);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
}

ul.link-list li:last-of-type {
  border-bottom: none;
}

.dot-item {
  background-color: var(--light-gray);
  padding: 2pt 6pt 2pt 6pt;
  border-radius: var(--border-radius-large);
}

h1 i {
  color: var(--gray);
  font-size: 50%;
}

h1.text {
  border-bottom: 3pt dotted var(--light-gray);
}

img {
  padding-left: 10pt;
  height: 1em;
  position: absolute;
  z-index: -1;
}

code {
  font-family: monospace, monospace;
  font-size: 90%;
  background-color: var(--light-gray);
  padding: 0pt 3pt 0pt 3pt;
  border-radius: var(--border-radius-small);
}

pre {
  font-family: monospace, monospace;
  background-color: var(--light-gray);
  padding: 5pt 8pt 5pt 8pt;
  text-align: left;
  border-radius: var(--border-radius);
}

.icon-link {
  padding: 10pt 10pt 10pt 32pt;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: var(--darkest-gray);
  }

  a {
    color: skyblue;
  }
  
  .invertable {
    filter: invert();
  }

  .dot-item {
    background-color: var(--dark-gray);
  }
  
  code {
    background-color: var(--dark-gray);
  }
  
  pre {
    background-color: var(--dark-gray);
  }
  
  h1.text {
    border-color: var(--dark-gray);
  }
}

@media screen and (max-width: 700px) {
  html {
    width: 100%;
  }
  p {
    width: 85%;
  }
}